<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>BRITTANY SIMS PHOTOGRAPHY</title>

        <!-- external CSS link -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@200;400&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div id="mobileNav">
            <nav class="main-nav">
                <ul>
                    <li><a href="/concert">CONCERT</a></li>
                    <li><a href="/lifestyle">LIFESTYLE</a></li>
                    <li><a href="/realestate">REAL ESTATE</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        <div id="mobileMenuLink">
            <a>MENU</a>
        </div>
        <div id="bodyWrapper">
            <div id="headerWrapper">
                <header id="header">
                    <div id="logo">
                        <h1><a href="/">BRITTANY SIMS</a></h1>
                    </div>
                    <div id="topNav">
                        <nav>
                            <ul>
                                <li id="workDropdownListItem">
                                    WORK
                                    <ul id="workDropdown" class="visibleMenu">
                                        <li><a href="/concert">CONCERT</a></li>
                                        <li><a href="/lifestyle">LIFESTYLE</a></li>
                                        <li><a href="/realestate">REAL ESTATE</a></li>
                                    </ul>
                                </li>
                                <li><a href="/about">ABOUT</a></li>
                                <li><a href="/contact">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
            <div id="galleryWrapper">
                
                <% images.forEach(img => { %>
                    <div class="img_container">
                        <img
                            loading="lazy" 
                            srcset="<%= img.urlBeg + 'w_375/f_auto/q_auto/' + img.urlEnd %> 375w,
                                    <%= img.urlBeg + 'w_600/f_auto/q_auto/' + img.urlEnd %> 600w,
                                    <%= img.urlBeg + 'w_800/f_auto/q_auto/' + img.urlEnd %> 800w,
                                    <%= img.urlBeg + 'w_1000/f_auto/q_auto/' + img.urlEnd %> 1000w"
                            sizes="(max-width: 400px) 400px,
                                    ((min-width: 400px) and (max-width: 600px)) 600px,
                                    ((min-width: 600px) and (max-width: 800px)) 800px,
                                    (min-width: 1000px) 1000px"
                            src=<%= img.urlBeg + 'w_auto/q_auto/f_auto/' + img.urlEnd %> alt="" />
                        <div class="img_overlay"><%= img.description %></div>
                    </div>
                <% }) %>
            </div>
            <footer><span>&copy; 2022 Brittany Sims</span></footer>
        </div>
        <div id="modal">
            <button id="closeModalButton">X</button>
            <img id="modalImg" src="" alt="" />
            <div id="modalNavigation">
                <ul>
                    <li><button id="lastButton">&#60; LAST</button></li>
                    <span>|</span>
                    <li><button id="nextButton">NEXT &#62;</button></li>
                </ul>
            </div>
            
        </div>
        
        
    </body>
    <script src="js/main.js"></script>
</html>
